{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block above_container %}
<div class="about-banner">
    <h1>About Ferox Aero</h1>
</div>
{% endblock %}

{% block content %}
<div class="about-container">
    <div class="about-image">
        <img src="/static/images/drone-tech.jpg" alt=" Drone Technology and Excellence">
    </div>
    <div class="about-text">
        <h2>About Us</h2>
        <p>Founded on principles of excellence and precision, Ferox Aero brings a unique blend of military discipline
            and cutting-edge aerial technology to the drone services industry. Our founder, a former Marine Intelligence
            officer, and our inspection department head, a certified tower technician and Marine Signal
            Intelligence/Electronic warfare operator, lead a team committed to delivering the highest standards of
            service.</p>

        <h2>Our Mission</h2>
        <p>At Ferox Aero, we are driven by a mission to provide reliable, secure, and efficient drone-based solutions.
            Our expertise spans across various sectors, from detailed infrastructure inspections to comprehensive aerial
            mapping and intricate 3D modeling. We utilize only NDAA/Blue certified drones, ensuring that every project
            meets stringent security and compliance requirements.</p>
    </div>
</div>

<div class="about-container">
    <div class="about-text">
        <h2>Our People</h2>
        <p>Our team's Marine Corps background translates into a profound work ethic and an uncompromising approach to
            precision and quality. With experience in the intelligence community, our team has been trained to strive
            for excellence under strenuous conditions. This ethos carry over into all aspects of our operations, whether
            servicing government contracts in the public sector or innovating solutions for private industry challenges.
        </p>

        <h2>Our Commitment</h2>
        <p>We are dedicated to upholding the highest standards of safety and excellence. Our commitment to using
            NDAA/Blue certified drones not only demonstrates our adherence to data security but also our dedication to
            technological leadership. We believe in the power of technology to transform operations, enhance safety, and
            deliver impactful data that drives decision-making for our clients.</p>

        <h2>Our Vision</h2>
        <p>To be the leading provider of drone services, recognized for our integrity, innovation, and ability to
            execute complex projects with exceptional skill and precision. We strive to expand our reach across both
            public and private sectors, continually adapting and evolving to meet the needs of a dynamic world.</p>
    </div>
    <div class="about-image">
        <img src="/static/images/team.jpg" alt="Our Professional Team">
    </div>
</div>

<div class="work-container">
</div>
{% endblock %}