{% extends 'base.html' %}

{% block title %} Contact {% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/agriculture.css' %}">
{% endblock %}

{% block main_class %}not-contained{% endblock %}

{% block above_container %}
<div class="agriculture-banner">
    <h1 class="banner-text">Agriculture <br />Solutions</h1>
</div>
{% endblock %}

{% block content %}
<h2 class="agriculture-slogan">Revolutionizing Farming With Drones</h2>
<div class="container">
    <p class="agriculture-slogan-text">Transform your farm with smarter, more efficient solutions powered by
        cutting-edge drone technology.</p>

    <div class="agriculture-section container">
        <div class="section-image">
            <img src="/static/images/data2.jpeg" alt="#">
        </div>
        <div class="section-text">
            <ul>
                <li><span class="text-orange">Monitor</span> field health</li>
                <li><span class="text-orange">Identify</span> issues early</li>
                <li><span class="text-orange">Apply</span> resources more
                    efficiently</li>
            </ul>
            <p>In agriculture, drones play a pivotal role in precision farming techniques. They monitor crop health
                through NDVI (Normalized Difference Vegetation Index) imaging, which helps detect plant stress early.
                Drones also assist in the efficient management of resources by mapping out irrigation patterns and
                identifying areas that require pest control treatments. By integrating drone data with farm management
                systems, Ferox Aero helps farmers increase crop yields while reducing operational costs.</p>
        </div>
    </div>
</div>
<div class="agriculture-strip">
    <h1 class="strip-text">The Future <br />is Now</h1>
</div>
<div class="container">
    <h2 class="agriculture-slogan-2">Safer, Smarter, Efficient Agriculture</h2>
    <div class="safety-section container">
        <div class="grid-container container">
            <div class="grid-item"><i class="fa-solid fa-wheat-awn"></i>
                <p><span class="text-blue">Enhance</span> crop monitoring</p>
            </div>
            <div class="grid-item"><i class="fa-solid fa-tractor"></i>
                <p><span class="text-blue">Boost</span> resource management</p>
            </div>
            <div class="grid-item"><i class="fa-solid fa-list-check"></i>
                <p><span class="text-blue">Improve</span> decision making</p>
            </div>
            <div class="grid-item"><i class="fa-solid fa-bug-slash"></i>
                <p><span class="text-blue">Precise</span> pest control</p>
            </div>
        </div>
    </div>
    <!--
    <div class="video-container">
        <iframe width="100%" height="115" src="https://www.youtube.com/embed/7uh_vfMEZKM?si=Ow3HKuiDTq_0ZvQt"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    -->
</div>


{% endblock %}