{% extends 'base.html' %}

{% block title %} Contact {% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/construction.css' %}">
{% endblock %}

{% block main_class %}not-contained{% endblock %}

{% block above_container %}
<div class="construction-banner">
    <h1 class="banner-text">Construction <br />Solutions</h1>
</div>
{% endblock %}

{% block content %}
<h2 class="construction-slogan">Precision Mapping, Powerful Results</h2>
<div class="container">
    <p class="construction-slogan-text">Drone mapping and inspection services provide comprehensive aerial views
        essential for site planning, monitoring construction progress, and ensuring compliance with safety standards</p>

    <div class="construction-section container">
        <div class="section-image">
            <img src="/static/images/drone-site.jpg" alt="#">
        </div>
        <div class="section-text">
            <p>These drones capture high-resolution images and data for creating topographical maps, assessing
                structural integrity, and identifying potential issues before they become costly problems. Additionally,
                Ferox Aero's drones can be used for tracking construction equipment and materials on large sites,
                improving logistics and security.</p>
        </div>
    </div>
</div>
<div class="construction-strip">
    <h1 class="strip-text">Ferox <br />Promise</h1>
    <p class="strip-description">Drones are transforming construction with fast, accurate aerial<br /> data that
        speeds
        up
        projects, enhances safety, and cuts costs.</p>
</div>
<div class="container">
    <h2 class="construction-slogan-2">Safer, Smarter, Efficient Construction</h2>
    <div class="safety-section container">
        <div class="grid-container container">
            <div class="grid-item"><i class="fa-solid fa-helmet-safety"></i>
                <p><span class="text-blue">Reduce</span> the risk of accidents</p>
            </div>
            <div class="grid-item"><i class="fa-solid fa-shield-virus"></i>
                <p><span class="text-blue">Minimize</span> exposure to hazardous environments</p>
            </div>
            <div class="grid-item"><i class="fa-solid fa-building-shield"></i>
                <p><span class="text-blue">Enhance</span> site monitoring</p>
            </div>
            <div class="grid-item"><i class="fa-solid fa-shield-halved"></i>
                <p><span class="text-blue">Improve</span> emergency response time</p>
            </div>
        </div>
    </div>
    <div class="video-container">
        <iframe width="100%" height="115" src="https://www.youtube.com/embed/7uh_vfMEZKM?si=Ow3HKuiDTq_0ZvQt"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>


{% endblock %}