{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}


{% block content %}
<!-- Slogan Image -->
<div class="container image-container slogan-container">
    <img class="map-img" src="{% static 'images/working.jpg' %}">

    <div class="slogan">
        <h1 class="slogan-brand">Ferox Aero</h1>
        <p class="slogan-text">Precision Data <br />Elevated Insights</p>
    </div>
</div>
<!-- Home Sections -->
<div class="home-section">
    <div class="section-image">
        <img src="{% static 'images/mapping.jpeg' %}">
    </div>
    <div class=" center-column section-text">
        <h2><span class="orange-text">Trust</span> In Excellence</h2>
        <p>At Ferox Aero, we are dedicated to delivering top-tier drone services with a fleet that meets the rigorous
            NDAA/Blue certified standards. This certification reflects our commitment to security, reliability, and
            compliance, positioning us as a preferred provider for both government and commercial projects that demand
            the highest level of operational integrity. </p>
    </div>
</div>

<div class="home-section">
    <div class="section-image">
        <img src="{% static 'images/home-section2.jpeg' %}">
    </div>
    <div class=" center-column section-text">
        <h2>Your Vision, Our <span class="orange-text">Precision</span></h2>
        <p>Our services span inspection, mapping, and 3D modeling, each designed to provide unparalleled accuracy and
            efficiency. Whether addressing complex logistical challenges, conducting detailed site surveys, or creating
            intricate 3D models, our drones are equipped to deliver high-quality data safely and securely, suitable for
            a wide range of applications including critical infrastructure, agriculture, and environmental monitoring.
        </p>
        <a class="btn-more" href="{% url 'services' %}"><span>Learn More</span></a>
    </div>
</div>


{% endblock %}