{% extends 'base.html' %}

{% block title %} Contact {% endblock %}

{% load static %}
{% load widget_tweaks %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block above_container %}
<div class="contact-banner">
    <h2>Contact Us</h2>
</div>
{% endblock %}

{% block content %}
<section class="contact-section">

    <div class="contact-call center-column container">
        <i class="fa-solid fa-phone-volume"></i>
        <p class="call-text">Call Us Today.</p>
        <p class="call-number">+1 505 221 6627</p>
    </div>

    {% if messages %}
    <div class="container center-column success-form">
        {% for message in messages %}
        <p class="success-message"><i class="fa-regular fa-circle-check"></i> {{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="container center-column contact-form">
        <p>Please use the form below to contact us, make inquiries, or set up a consultation.</p>
        <p class="required-field-note">* Required fields</p>
        <form id="emailForm" class="" method="POST" action=".">
            {% csrf_token %}
            <label for="name">Name <span class="required">*</span></label>
            {{ form.name|add_class:"form-input" }}
            <label for="number">Phone Number <span class="required">*</span></label>
            {{ form.number|add_class:"form-input" }}
            <label for="email">Email <span class="required">*</span></label>
            {{ form.email|add_class:"form-input" }}
            <label for="message">Comments <span class="required">*</span></label>
            {{ form.message|add_class:"form-textarea" }}

            <button>Send Message</button>
        </form>
    </div>
</section>
{% endblock %}