{% extends 'base.html' %}

{% block title %} Projects {% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/projects_list.css' %}">
{% endblock %}

{% block content %}
<section class="project-section">
    <div class="project-banner">
        <h2>Our Work</h2>
    </div>

    <!-- One Card for Each Project -->
    {% for item in projects %}
    <div class="container section-container project-card">
        <!-- Left Side -->
        <div class="project-image">
            <img src="{{item.image.url}}" alt="Project Image" />
        </div>
        <!-- Right Side -->
        <div class="center-column project-text">
            <h3>{{item.client}}</h3>
            <p>{{item.description}}</p>
        </div>
    </div>
    {% endfor %}


</section>

{% endblock %}