.navbar {
    background-color: rgba(51, 51, 51);
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 0.5px solid white;
}

.logo {
    flex: 1.5;
    text-align: center;
    height: 100%;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.logo::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(51, 51, 51);
    transform: skewY(115deg);
    transform-origin: bottom right;
}

.logo img {
    height: 70px;
    width: auto;
}

.navbar ul {
    flex: 5;
    list-style: none;
    display: flex;
    justify-content: right;
    margin: 0;
}

.nav-contact {
    flex: 1.2;
    background-color: rgb(75, 138, 200);
    text-align: center;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-contact::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(51, 51, 51);
    transform: skewY(115deg);
    transform-origin: bottom left;
}

.nav-contact-text {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.navbar ul li {
    padding: 10px 30px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    display: block;
    padding: 10px 0;
    transition: color 0.2s ease;
}

.navbar ul li a:hover {
    color: rgb(200, 138, 75);
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgba(51, 51, 51, 0.5);
    width: 300px;
    box-shadow: 0 4px 8px rgba(51, 51, 51, 0.5);
    border-radius: 5px;
}

.navbar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
}

.dropdown-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: rgba(51, 51, 51, 0.95);
    width: 300px;
    box-shadow: 0 4px 8px rgba(51, 51, 51, 0.5);
    border-radius: 5px;
}

.dropdown-menu ul li {
    width: 100%;
    padding: 10px;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 5px 10px;
}

/* Hover Effect for Dropdown Items */
.navbar ul li:hover .dropdown-menu ul li a:hover {
    color: rgb(200, 138, 75);
    /* Light hover effect */
}