.navbar {
    background-color: rgba(253, 253, 253);
    /* Semi-transparent black */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.logo img {
    height: 50px;
    width: auto;
    display: block;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

.navbar ul li {
    padding: 10px 30px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    display: block;
    padding: 10px 0;
    transition: color 0.2s ease;
}

.navbar ul li a:hover {
    color: rgba(51, 51, 51, 0.7);
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: rgba(51, 51, 51);
    width: 300px;
    box-shadow: 0 4px 8px rgba(51, 51, 51, 0.5);
    border-radius: 5px;
}

.navbar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 999;
}

.dropdown-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    width: 100%;
    padding: 10px;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 5px 10px;
}

/* Hover Effect for Dropdown Items */
.navbar ul li:hover .dropdown-menu ul li a:hover {
    color: rgba(255, 255, 255, 0.5);
    /* Light hover effect */
}