{% load static %}
<nav class="navbar">
    <!-- Left Side -->
    <div class="logo"><a href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="Ferox Logo">
        </a>
    </div>
    <!-- Right Side Drop Down Bar-->
    <ul class="menu-bar">

        <li class="nav-item"><a href="#">Industries <i class="fa-solid fa-caret-down"></i></a>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="{% url 'construction' %}">Construction</a></li>
                    <li><a href="{% url 'agriculture' %}">Agriculture</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item">
            <a href="#">Services <i class="fa-solid fa-caret-down"></i></a>
            <div class="dropdown-menu">
                <ul>
                    <li><a href="#">Mapping</a></li>
                    <li><a href="#">Inspection</a></li>
                    <li><a href="#">Modeling</a></li>
                    <li><a href="#">Item 4</a></li>
                </ul>
            </div>

        </li>

        <li class="nav-item"><a href="{% url 'about' %}">About</a></li>
        <li class="nav-item"><a href="{% url 'projects_list' %}">Our Work</a></li>
        <li class="nav-item contact-item"><a href="{% url 'contact' %}">Contact</a></li>
    </ul>

    <div class="nav-contact">
        <p class="nav-contact-text">Call +1 505 221 6627</p>
    </div>
</nav>